<% include ./include/header %>
<link href="/css/admin_login.css" rel="stylesheet">
<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="button" id="btnLogin">Sign in</button>
  </form>
</div>
<% include ./include/scripts %>
<script>
  var socket =  io.connect('<%= url %>')
  $(function(){
    $('#btnLogin').click(function(){
      var info = {
        email : $('#inputEmail').val(),
        pwd : $('#inputPassword').val()
      }
      socket.emit('login', info)
    })
    $('#inputPassword').keypress(function(event){
      if(event.keyCode == 13){
        $('#btnLogin').click()
      }
    })
  })
  socket.on('loginResult', result =>{
    if(result.message == 1){
      localStorage.setItem('token',result.token)
      socket.emit('token', result.token)
      location.href = '/user/main'
    }
    else{
      alert(result.message)
    }
  })

</script>
<% include ./include/footer %>