<script>
    $(function(){
      const url = document.location.href
      $('#navbarCollapse > ul > li').removeClass('active')
      if(url.includes('presale')){
        $('#navbarCollapse > ul > li').eq(1).addClass('active')
      }
      if(url.includes('member')){
        $('#navbarCollapse > ul > li').eq(0).addClass('active')
      }
      if(url.includes('list')){
        $('#navbarCollapse > ul > li').eq(2).addClass('active')
      }
    })
  </script>
  <script>
      if(!document.location.href.includes('/admin/login')){
        var socket =  io.connect('<%= url %>')
        socket.emit('token', localStorage.getItem('token'))
        socket.on('tokenResult', result =>{
          if(!result.result || result.type != 'A'){
            localStorage.removeItem('token')
            location.href = '/admin/login'
          }
        })
      }
    </script>
</body>
</html>